<div class="navbar-fixed">
  <nav class="teal lighten-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">SnapThis</a>
      <ul class="right">
      <$ if (user) { $>
        <span>Welcome, <$= user.firstName $></span>
        <a href="/logout">Logout</a>
        <$ } else { $>
        <a href="/auth/google">Login with Google</a>
        <$ } $>
      </ul>
    </div>
  </nav>
</div>
