<!DOCTYPE html>
<html>
  <head>
    <title><$= title $></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>

<$ if (user) { $>
<nav>
  <ul class="right hide-on-med-and-down">ccc
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>

    <ul id="slide-out" class="side-nav">
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">First</a></li>
                <li><a href="#!">Second</a></li>
                <li><a href="#!">Third</a></li>
                <li><a href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">First</a></li>
        <li><a href="#!">Second</a></li>
        <li><a href="#!">Third</a></li>
        <li><a href="#!">Fourth</a></li>
      </ul>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

  <center>
    <!-- <h1><$= title $></h1> -->
  <!--   <p>Welcome to <$= title $></p>
    <p>Welcome, <$= user.firstName $></p>
    <img src="<$= user.imageUrl $>" alt="">
    <div class="container">
      <div class="row">
        <form method="put", action="/user">
          <a class="waves-effect waves-light btn-large">Create Game</a><br>
        </form>
      </div>
      <br>
      <div class="row">
        <a class="waves-effect waves-light btn-large">Join Game</a>
      </div>
    </div> -->



<div class="space">

<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>First Task</div>
      <div class="collapsible-body"><p>Take a picture with a teacher.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Second Task</div>
      <div class="collapsible-body"><p>Take a picture with a girl wearing red.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Third Task</div>
      <div class="collapsible-body"><p>Take a picture with a homeless man.</p></div>
    </li>
  </ul>



<!--
        <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="">


    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>Waiting...</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div> -->
   <div class="chip">
    <img src="http://data.whicdn.com/images/27274868/large.jpg" alt="Contact Person">
    <strong>Ruby:</strong> Task 2
  </div>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://s-media-cache-ak0.pinimg.com/736x/5e/1b/f1/5e1bf1b8503bacea9b48de8cd94ff97d.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right"></i></span>
      <a class="btn" onclick="Materialize.toast('Very GOOD pass.', 2000)">✓</a> <a class="btn" onclick="Materialize.toast('Did NOT pass.', 2000)">X</a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <a class="btn" onclick="Materialize.toast('I am a toast', 4000)">Toast!</a>
    </div>
  </div>
</div>

<$ } else { $>
<a href="/auth/google">Login with Google</a>
<$ } $>

     <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
      <script>
        // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
     // Show sideNav
  $('.button-collapse').sideNav('show');
  // Hide sideNav
  $('.button-collapse').sideNav('hide');


       </script>
    </center>
  </body>
</html>
