<!DOCTYPE html>
<html>
  <head>
    <title><$= title $></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><$= title $></h1>
    <p>Welcome to <$= title $></p>

    <p><a href="/auth/google">login with google</a></p>
    <p><a href="/logout">logout</a></p>

    <$ if (user) { $>
      <p>Welcome, <$= user.firstName $></p>
      <img src="<$= user.imageUrl $>" alt="">
    <$ }$>
    <form id="create-game" action="/api/games" method="post">
      <button type="submit">Create Game</button>
    </form>
    <div>
      join a game
    </div>
    <form action="/api/games/join" method="post">
      <label for="search">Place Game Id</label>
      <input id="join-game" type="text" name="gameId" placeholder="game id">
      <input type="submit" value="join">
    </form>
  </body>
</html>
