<!DOCTYPE html>
<html>
  <head>
     <$- include('./partials/head') $>
  </head>
  <body>
    <h1>Project 3 - Scavenger Hunt</h1>

    <p><a href="/auth/google">login with google</a></p>
    <p><a href="/logout">logout</a></p>

    <$ if (user && !user.currentGame) { $>
      <p>Welcome, <$= user.firstName $></p>
      <img src="<$= user.imageUrl $>" alt="">

      <form id="create-game" action="/api/games" method="post">
        <button type="submit">Create Game</button>
      </form>

      <form action="/api/games/join" method="post">
        <label for="search">Join A Game</label>
        <input id="join-game" type="text" name="gameId" placeholder="">
        <input type="submit" value="join">
      </form>
    <$ } else if(user && user.currentGame) { $>
      <a href="/api/games/<$= user.currentGame $>" title="">Continue Game</a>
      <a href="/users/leavegame" title="">Leave Game</a>

    <$ } $>

  </body>
</html>
