<!DOCTYPE html>
<html>
<head>
   <$- include('./partials/head') $>
</head>
<body>


  <div class="navbar-fixed">
    <nav class="indigo">
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">Snapclock</a>
        <ul class="right">
        <$ if (user) { $>
          <span>Welcome, <$= user.firstName $></span>
          <a href="/logout">Logout</a>
          <$ } else { $>
          <a href="/auth/google">Login with Google</a>
          <$ } $>
        </ul>
      </div>
    </nav>
  </div>




  <div class="container">
    <$ if (user && !user.currentGame) { $>

      <div class="row">
        <form id="create-game" action="/api/games" method="post">
          <button type="submit" class="waves-effect waves-light btn-large">Create Game</button>
        </form>
      </div>

      <div class="row">
        <form action="/api/games/join" method="post">
          <label for="search">Join A Game</label>
          <input id="join-game" type="text" name="gameId" placeholder="">
          <input type="submit" value="join">
        </form>
      </div>

    <$ } else if(user && user.currentGame) { $>
      <div class="row">
        <a href="/api/games/<$= user.currentGame $>" class="waves-effect waves-light btn-large">Continue Game</a>
      </div>
      <div class="row">
        <a href="/users/leavegame" class="waves-effect waves-light btn-large">Leave Game</a>
      </div>
    <$ } $>
  </div>

  <$- include('./partials/script') $>
</body>
</html>
