<!DOCTYPE html>
<html>
  <head>
    <title><$= title $></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </head>
  <body>

  <div class="navbar-fixed">
    <nav class="indigo">
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">Snapclock</a>
        <ul class="right">
        <$ if (user) { $>
          <a href="/logout">Logout</a>
          <$ } else { $>
          <a href="/auth/google">Login with Google</a>
          <$ } $>
        </ul>
      </div>
    </nav>
  </div>

    <h1><$= title $></h1>
    <p>Welcome to <$= title $></p>
        <$ if (user) { $>
    <p>Welcome, <$= user.firstName $></p>
    <div class="container">
      <div class="row">
        <form method="put", action="/user">
          <a class="waves-effect waves-light btn-large">Create Game</a><br>
            </form>
          </div>
          <br>
        <div class="row">
      <a class="waves-effect waves-light btn-large">Join Game</a>
    </div>
    <img src="<$= user.imageUrl $>" alt="">
      <$ } else { $>
      <a href="/auth/google">Login with Google</a>
      <$ } $>

    <p><a href="/auth/google">login with google</a></p>
    <p><a href="/logout">logout</a></p>

    <$ if (user) { $>
      <p>Welcome, <$= user.firstName $></p>
      <img src="<$= user.imageUrl $>" alt="">
    <$ }$>
    <form id="create-game" action="/api/games" method="post">
      <button type="submit">Create Game</button>
    </form>
    <div>
      join a game
    </div>
    <form action="/api/games/join" method="post">
      <label for="search">Place Game Id</label>
      <input id="join-game" type="text" name="gameId" placeholder="game id">
      <input type="submit" value="join">
    </form>
>>>>>>> master

  </body>
</html>
