
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
  position:fixed;
  bottom:0px;
  width:100%;
}
.right-corner{
  float:right;
}

input {
  text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.con-space {
    border: 2px solid black;
    display: inline-flex;
    color: red;
    margin: 5px;
    padding: 10px;
}

.card{
  padding-top: 50px;
  padding-bottom: 50px;
}

