
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center {
  height: 250px;
  border: 2px solid #FFFFFF;
  background-color: #42a5f5;
  margin: 5px;
  padding: 5px 15px 3px 15px;
}

#host-body-container {
  padding-bottom: 100px;
}

footer {
  position:fixed;
  bottom:0px;
  width:100%;
}
.right-corner{
  float:right;
}

input {
  text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.con-space {
    border: 2px solid black;
    display: inline-flex;
    color: red;
    margin: 5px;
    padding: 10px;
}

.page-btn{
  padding: 20px 0px 0px 0px;
}
.choice-btn{
    padding-bottom: 55px;
    padding-top: 55px;
}

#photo{
  width: 90%;
  height: 60%;
}

