div.nav-wrapper {
  align-content: top;
  width: 100%;
}
a.brand-logo.left {
  padding-left: 15px;
}
a {
  padding-left: 15px;
}
body {
 padding: 50px;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
  position:fixed;
  bottom:0px;
  width:100%;
}

.navbar-fixed {
  margin-bottom:20px;
}

@media (min-width: 600px){
}
/*a {
  color: #00B7FF;
}
h1{
  padding-left: 15px;
}
p{
  padding-left: 15px;
}
img {
  padding-left: 15px;
}

.name-time-box {
    border: 2px solid black;
    width: 30%;
    text-align: center;
}
.red-123{
  color: red;
}
.right-corner{
  float: right;
}
