<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/navbar') $>

  <ul class="collapsible center-align" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons"></i>First Task</div>
        <div class="collapsible-body"><p>Take a picture with a teacher.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons"></i>Second Task</div>
        <div class="collapsible-body"><p>Take a picture with a girl wearing red.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons"></i>Third Task</div>
        <div class="collapsible-body"><p>Take a picture with a homeless man.</p></div>
      </li>
  </ul>

  <div class="container center-align">



    <div class="row">
      <div class="col s12">
        <button class="btn-large waves-effect waves-light" id="startGame" onclick="startGame('<$= game.id $>')">Start Game</button>
      </div>
    </div>
  </div>


  <$- include('../partials/script') $>
</body>
</html>













