<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body class="center-align">
  <$- include('../partials/navbar') $>

  <div class="row">
    <div class="col s12">
      <!-- <form id="new-instruction"> -->
        <label for="">Add A Task</label>
        <input id="add-input" type="text" class="input-instruction" name="instruction[task]" placeholder="">
        <button  class="add-button" id="<$= game.id $>">Add</button>
      <!-- </form> -->
    </div>
  </div>

  <ul id="task-list" class="collapsible" data-collapsible="accordion">
  </ul>

  <div class="secret-code-container">
    <p>Your secret code is <span id="game-id"><$= game._id $></span></p>
  </div>

  <div id="clock">
    <$ if (game.start_time) { $>
      <div class="con-space">
        <div id="clockmin"></div> : <div id="clocksec"></div>
      </div>
    <$ } $>
  </div>

  <div>

    <p>start_time = <$= game.start_time $></p>
    <p>exp_time = <$= game.exp_time $></p>
  </div>

  <div class="instructions-container">
    list of instructions will go here
  </div>

  <div class="players-container">
    <ul>
      <$ game.player_ids.forEach(player => { $>
        <li><$= player $></li>
      <$ }) $>
    </ul>

    <ul>
      <$ players.forEach(player => { $>
        <li><$= player.firstName $></li>
      <$ }) $>
    </ul>
    list of players will go here
    <div class="chip">
        <img src="<$= user.imageUrl $>" alt="Contact Person">
        <$= user.firstName $>
      </div>
  </div>

  <$ if (!game.start_time) { $>
  <footer class="footer123 page-footer indigo">
    <div class="start-button-container container center-align">
      <div class="row">
        <div class="col s12">
          <button class="btn-large waves-effect waves-light" id="startGame" onclick="startGame('<$= game.id $>')">Start Game</button>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    </div>
  </footer>
  <$ } $>


  <$- include('../partials/script') $>
</body>
</html>
