<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body class="center-align">
  <$- include('../partials/navbar') $>

  <div class="secret-code-container">
    <p>Your secret code is <span id="game-id"><$= game._id $></span></p>
  </div>

  <div class="instructions-container">
    list of instructions will go here
  </div>

  <div class="players-container">
    list of players will go here
  </div>


  <$ if (!game.start_time) { $>
  <footer class="page-footer indigo">
    <div class="start-button-container container center-align">
      <div class="row">
        <div class="col s12">
          <button class="btn-large waves-effect waves-light" id="startGame" onclick="startGame('<$= game.id $>')">Start Game</button>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    </div>
  </footer>
  <$ } $>


  <$- include('../partials/script') $>
</body>
</html>











