<!DOCTYPE html>
<html>
  <head>
    <$- include('../partials/head') $>
  </head>
  <body>
  <h1>Game Page - Host</h1>

  <p>Secret Code: <$= game._id $></p>

  <div>
    <p>Host id: <$= game.host_id $></p>
  </div>

  <div>
    <p>Players: <$= game.player_ids $></p>
  </div>

  <div>
    add new instruction here
    <form id="new-instruction">
      <input class="input-task" type="text" name="instruction[task]" id="instruction-task"></input>
      <button type="submit" class="">Add</button>
    </form>
  </div>

  <div>
    instructions go here
    <ul>
      <li>task</li>
    </ul>
  </div>

  <div>
    <a href="/users/leavegame" title="leave game">Leave Game</a>
  </div>

  </body>
</html>













