<!DOCTYPE html>
<html>
  <head>
    <$- include('../partials/head') $>
  </head>
  <body>
  <h1>Game Page - Host</h1>

  <p>Secret Code: <$= game._id $></p>

  <div>
    <p>Host id: <$= game.host_id $></p>
  </div>

  <div>
    <p>Players: <$= game.player_ids $></p>
  </div>

  </body>
</html>
