<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body class="container">

  <br>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col s12">
      <label for="">Submit A Photo</label>
      <input id="photo-url" type="text" placeholder="Add a photo url">
      <button id="submit-photo" class="btn"  onclick="addPhoto('<$= game.id $>')">Submit</button>
    </div>
  </div>





  <center>

   <!-- <div>
    <p>Host id: <$= game.host_id $></p>
  </div>

  <div>
    <p>Players: <$= game.player_ids $></p>
  </div>
 -->

 <!-- This when player waiting for game to start -->
<div class="card">
 <div class="right-corner">
    <a href="/users/leavegame" title="leave game">Leave Game</a>
  </div>
    <div class="chip">
      <img src="http://data.whicdn.com/images/27274868/large.jpg" alt="Contact Person">
      PLAYER
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
  <h5>waiting for game to start</h5>
  <div class="progress">
      <div class="indeterminate"></div>
  </div>

  <div class="divider"></div>
      <div class="section" id="players">
        <h5>Players</h5>
          <div class="card">
            <div class="chip">
              <img src="http://data.whicdn.com/images/27274868/large.jpg" alt="Contact Person">
              PLAYER 2
            </div>
            <div class="chip">
              <img src="http://data.whicdn.com/images/27274868/large.jpg" alt="Contact Person">
              PLAYER 3
            </div>
          </div>
      </div>




 <!-- This is when game has already started -->
  <div class="right-corner">
    <a href="/users/leavegame" title="leave game">Leave Game</a>
  </div>

  <div class="card">
    <div class="chip">
      <img src="http://data.whicdn.com/images/27274868/large.jpg" alt="Contact Person">
      PLAYER
    </div>
    <br>
    Time: <span class="red-123">59min</span>
  </div>
    <div class="section" id="current">
      <h5>Current Task</h5>
     <div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-image">
              </div>
              <div class="card-content">
                <span class="card-title">Task 2</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <form action="player_submit" method="post">
                  <button type="submit">upload</button>
                 </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="section" id="upcoming">
        <h5>Umpcoming Tasks</h5>
        <div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Task 3</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Task 4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="section" id="completed">
        <h5>Completed Tasks</h5>
        <div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsFzAB6QigKYDEeGNqgsMaGsast_MAhGUtYupEjFntB1y_JSzX">
                <span class="card-title">Task 1</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Players</h5>
          <div class="card">
            <div class="chip">
              <img src="http://data.whicdn.com/images/27274868/large.jpg" alt="Contact Person">
              PLAYER 2
            </div>
            <div class="chip">
              <img src="http://data.whicdn.com/images/27274868/large.jpg" alt="Contact Person">
              PLAYER 3
            </div>
          </div>
      </div>




    </center>
  <$- include('../partials/playerScript') $>

</body>
</html>



