<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
<$- include('../partials/navbar') $>

<div class="center-align container">
    <div class="chip">
      <img src="<$= user.imageUrl $>" alt="Contact Person">
      <$= user.firstName $>
    </div>

    <$ if(!game.start_time) { $>
      <h5>waiting for game to start</h5>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    <$ } else { $>

      <div id="current-container" class="section" ></div>
      <div class="divider"></div>

      <div id="upcoming-container" class="section" >
        <h5>Upcoming Tasks</h5>
      </div>
      <div class="divider"></div>

      <div id="completed-container" class="section">
        <h5>Completed Tasks</h5>
        <div id="acccepted-picture"></div>
      </div>

    <$ } $>

    <div id="players-container"  class="section">
      <h5>Players</h5>
      <div class="card">
        <$ players.forEach(player => { $>
          <div class="chip">
            <img src="<$= player.imageUrl $>" alt="Contact Person">
            <$= player.firstName $>
          </div>
        <$ }) $>
      </div>
    </div>



</div>

<$- include('../partials/playerScript') $>
</body>
</html>













