<!DOCTYPE html>
<html>
  <head>
    <$- include('../partials/head') $>
  </head>
  <body>
  <h1>Game Page - Player</h1>

  <div>
    <p>Host id: <$= game.host_id $></p>
  </div>

  <div>
    <p>Players: <$= game.player_ids $></p>
  </div>

  <div>
    <a href="/users/leavegame" title="leave game">Leave Game</a>
  </div>


  </body>
</html>
