<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
<$- include('../partials/navbar') $>

<div class="center-align">


  <div class="container">
  <div class="card">

    <div class="chip">
      <img src="<$= user.imageUrl $>" alt="Contact Person">
        <$= user.firstName $>
    </div>

    <div class="secret-code-container">
      <p>Your secret code is <span id="game-id"><$= game._id $></span></p>
    </div>
  </div>
    <div class="divider"></div>

    <div id="progress-container">
      <$ if(!game.start_time) { $>
      <h5>waiting for game to start</h5>
        note: this will be rendered on the client side
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      <$ } else { $>
    </div>
    <div class="divider"></div>

    <div id="current-container" class="section" >
    </div>
    <div class="divider"></div>

    <div id="upcoming-container" class="section" >
    </div>
    <div class="divider"></div>

    <div id="completed-container" class="section">
      <h5>Completed Tasks</h5>
        <div class="row">
          <div class="col s12">
            <div class="card taco">
              <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxxM-XqHNBEmvcFIuljWTkm7cX1-lJPoqb7S9PpVh_LOXrtpdA">
                <span class="card-title">Task 1</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
      <$ } $>
    <div class="divider"></div>
    <div id="players-container"  class="section">
      <h5>Players</h5>
          <div class="card">
            <$ players.forEach(player => { $>
              <div class="chip">
                <img src="<$= player.imageUrl $>" alt="Contact Person">
                <$= player.firstName $>
              </div>
            <$ }) $>
          </div>
    </div>
  </div>
</div>
<$- include('../partials/playerScript') $>
</body>
</html>













